In [54]:
from worker_table import SQL_Query    #custome module where worker, bonus,title table created.

'''
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.
'''

sq = SQL_Query()

query = "select rtrim(first_name)from worker "

sq.quest(query)

Database Connected...

Showing the result:

('Monika',)
('Niharika',)
('Vishal',)
('Amitabh',)
('Vivek',)
('Vipul',)
('Satish',)
('Geetika',)

In [8]:
# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
# table and prints its length.


query = "select department,length(department) from worker group by department "
query = "Select distinct length(DEPARTMENT) from Worker;"
sq.quest(query)

Showing the result:

(2,)
(5,)
(7,)

In [49]:
'''
Q-3. Write an SQL query to fetch nth max salaries from a table.

'''
N = int(input("Enter the nth  : "))
query = "select salary from  worker as w1 where {}=(select count(distinct  salary) from worker w2 where w2.salary > w1.salary)".format(N-1)

sq.quest(query)

Enter the nth  : 3

Showing the result:

(200000,)