In [85]:
from worker_table import SQL_Query    #module where worker, bonus,title table created.

# Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
# table.

sq = SQL_Query()

query = "select substring(first_name,1,3)  from worker as worker_name "

sq.quest(query)

Database Connected...

Showing the result:

('Mon',)
('Nih',)
('Vis',)
('Ami',)
('Viv',)
('Vip',)
('Sat',)
('Gee',)

In [86]:
'''
Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.
'''

query = "select position('a' in first_name)  from worker as worker_name  where first_name = 'Amitabh' "
sq.quest(query)

Showing the result:

(1,)

In [87]:
'''
Q3.Write an SQL query to print the name of employees having the highest salary in each
department.
'''

query = "select first_name,last_name from worker  group by department having max(salary)"

sq.quest(query)

Showing the result:

('Monika', 'Arora')
('Niharika', 'Verma')
('Vipul', 'Diwan')