In [12]:

# Q-15.Q-17. Write an SQL query to show the top n (say 5) records of a table..


from worker_table import SQL_Query    #custome module where worker, bonus,title table created.

sq = SQL_Query()

query = "select * from worker order by salary des limit 5 "

print(sq.quest(query))

Database Connected...

Showing the result:

(7, 'Satish', 'Kumar', 75000, datetime.datetime(2014, 1, 20, 9, 0), 'Account', None)
(2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin', None)
(8, 'Geetika', 'Chauhan', 90000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin', None)
(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR', None)
(6, 'Vipul', 'Diwan', 200000, datetime.datetime(2014, 6, 11, 9, 0), 'Account', None)
None

In [6]:
#Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

query = "select first_name,last_name,salary  from worker w1 where 4 = (select count(distinct salary) from worker w2 where  w2.salary > w1.salary)"

print(sq.quest(query))

Showing the result:

('Geetika', 'Chauhan', 90000)
None