In [8]:
'''Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and
“Satish” from Worker table.
'''

from worker_table import SQL_Query    #custome module where worker, bonus,title table created.

sq = SQL_Query()

query = "select first_name,last_name,salary,joining_date,department from worker where first_name !='Vipul' and first_name != 'Satish' "

sq.quest(query)

Database Connected...

Showing the result:

('Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
('Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')
('Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
('Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin')
('Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')
('Geetika', 'Chauhan', 90000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin')

In [10]:
'''
Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with
‘h’ and contains six alphabets.
'''

query = "select * from worker where first_name like '______h' "

sq.quest(query)

Showing the result:

(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin')

In [ ]:
'''
Q-3. Write a query to validate Email of Employee.
'''

query = "select * from worker where wemail like '%@gmail.com' " #wemail column not in worker table so it will print nothing.

sq.quest(query)