In [4]:
'''
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.
'''
from worker_table import SQL_Query    #custome module where worker, bonus,title table created.

sq = SQL_Query()

query = "select replace(first_name,'a','A') from worker"

sq.quest(query)

Database Connected...

Showing the result:

('MonikA',)
('NihArikA',)
('VishAl',)
('AmitAbh',)
('Vivek',)
('Vipul',)
('SAtish',)
('GeetikA',)

In [10]:
'''
Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.
'''

query = "select * from worker order by first_name asc, department desc"

sq.quest(query)

Showing the result:

(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin')
(8, 'Geetika', 'Chauhan', 90000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin')
(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
(2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')
(7, 'Satish', 'Kumar', 75000, datetime.datetime(2014, 1, 20, 9, 0), 'Account')
(6, 'Vipul', 'Diwan', 200000, datetime.datetime(2014, 6, 11, 9, 0), 'Account')
(3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
(5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')

In [13]:
# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.


query = "select first_name,last_name from worker having max(salary)"

sq.quest(query)

Showing the result:

('Monika', 'Arora')