In [1]:
'''Write an SQL query to print details of the Workers who have joined in Febâ€™2014.
'''



from worker_table import SQL_Query    #custome module where worker, bonus,title table created.

sq = SQL_Query()

query = "select * from worker where year(JOINING_DATE) = 2014 and month (JOINING_DATE)=2"

sq.quest(query)

Database Connected...
Table Ceated....
Database Connected...

Showing the result:

(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR', None)
(3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR', None)
(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin', None)

In [4]:
'''
Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.'''


query = "select worker_title,affected_from, count(*) from title group by worker_title, affected_from having count(*) > 1 "

sq.quest(query)

Showing the result:

('Executive', datetime.datetime(2016, 6, 11, 0, 0), 3)
('Lead', datetime.datetime(2016, 6, 11, 0, 0), 2)

In [5]:
'''How to remove duplicate rows from Employees table.'''

query = "delete * from duptitle group by worker_title,affected_from having count(*) >1 "

sq.quest(query)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* from duptitle group by worker_title,affected_from having count(*) >1' at line 1

In [17]:
ls = [1,2,34,5]
# sorted(ls)
print(ls.sort())

None