In [22]:
import mysql.connector as connection
try:
    db = connection.connect(host="localhost",username= "root",password="Arzoo@6552",use_pure=True)
    cur = db.cursor()    #create a cursor to execute queries
    cur.execute("show databases")
    # for i in cur:
    #     print(i)
    print(cur.fetchall())
    print(cur.column_names)
except Exception as e:
    db.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]
('Database',)

In [23]:
#Create Database 
import mysql.connector as connection
try:
    db = connection.connect(host="localhost",username= "root",password="Arzoo@6552",use_pure=True)
    cur = db.cursor()    #create a cursor to execute queries
    query = 'create database Student'
    cur.execute(query)
    # for i in cur:
    #     print(i)
    print(cur.fetchall())
    print(cur.column_names)
except Exception as e:
    db.close()
    print(str(e))

[]
()

In [63]:
db = connection.connect(host="localhost",username= "root",password="Arzoo@6552",database="Student",use_pure=True)
db.is_connected()

True

In [32]:
cur  = db.cursor()
cur.execute("create table test1(x1 INT(5), x2 VARCHAR(20) , x3 DATE)")
db.close()

In [76]:
db = connection.connect(host='localhost',username='root',password="Arzoo@6552",database='Student')
cur = db.cursor()
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
db.commit()

In [77]:
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
cur.execute("insert into test values(2344312,'aryb','2021-02-21')")
db.commit()

In [78]:
cur.execute("select * from test")
cur.fetchall()

[(2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21)),
 (2344312, 'aryb', datetime.date(2021, 2, 21))]

In [79]:
cur = db.cursor()
cur.execute("select x1,x2 from test")

In [80]:
for i in cur.fetchall():
    print(i)

(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')
(2344312, 'aryb')

In [87]:
import pandas as pd
a = pd.read_sql("select x1,x2,x3 from test",db)

In [88]:
a.to_sql

<bound method NDFrame.to_sql of          x1    x2          x3
0   2344312  aryb  2021-02-21
1   2344312  aryb  2021-02-21
2   2344312  aryb  2021-02-21
3   2344312  aryb  2021-02-21
4   2344312  aryb  2021-02-21
..      ...   ...         ...
61  2344312  aryb  2021-02-21
62  2344312  aryb  2021-02-21
63  2344312  aryb  2021-02-21
64  2344312  aryb  2021-02-21
65  2344312  aryb  2021-02-21

[66 rows x 3 columns]>

In [89]:
a.to_csv("mysql.csv")

In [98]:
cur = db.cursor()
cur.execute("create table mydata1(n1 int(5) , n2 varchar(20) , n3 date)")

In [100]:
data = pd.read_csv('mysql.csv')
data

    Unnamed: 0       x1    x2          x3
0            0  2344312  aryb  2021-02-21
1            1  2344312  aryb  2021-02-21
2            2  2344312  aryb  2021-02-21
3            3  2344312  aryb  2021-02-21
4            4  2344312  aryb  2021-02-21
..         ...      ...   ...         ...
61          61  2344312  aryb  2021-02-21
62          62  2344312  aryb  2021-02-21
63          63  2344312  aryb  2021-02-21
64          64  2344312  aryb  2021-02-21
65          65  2344312  aryb  2021-02-21

[66 rows x 4 columns]