In [18]:
'''
1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).
Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.
eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1.
For example:
&quot;15 // 0&quot; ➞ -1
Examples
arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24
arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0
arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144
arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

'''
def arithmetic_operation(s):
    operator = ['+','-','*','//']
    for i in operator :
        if i in s:
            s = s.split(i)
            oper = i 
        
    fist_num = int(s[0])
    second_num = int(s[1])
    
    if second_num== 0:
        return  -1 
    
    if oper == operator[0]:
        return fist_num + second_num
    elif oper == operator[1]:
        return fist_num - second_num
    elif oper == operator[2]:
        return fist_num * second_num
    else:
        return fist_num // second_num
    
print(arithmetic_operation("12 + 12 "))
print(arithmetic_operation("12 - 12 "))
print(arithmetic_operation("12 * 12 "))
print(arithmetic_operation("12 // 0 "))

24
0
144
-1

In [46]:
'''
2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.
Examples
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

'''
import math
def perimeter(lst):
    A,B,C = lst[0],lst[1],lst[2]
    #FOR POINTS A AND B 
    d1 = math.sqrt(math.pow(B[0]-A[0],2) +math.pow(B[1]-A[1],2))
    
    #FOR POINTS  B AND C 
    d2 = math.sqrt(math.pow(C[0]-B[0],2) +math.pow(C[1]-B[1],2))
    
    #FOR POINTS C AND A 
    d3 = math.sqrt(math.pow(C[0]-A[0],2) +math.pow(C[1]-A[1],2))
    
    perimeter_triangle = d1 + d2 + d3 
    
    return round(perimeter_triangle,2)
    
    
print(perimeter( [ [15, 7], [5, 22], [11, 1] ] ) )   

print(perimeter( [ [0, 0], [0, 1], [1, 0] ] ))

print(perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ))

47.08
3.41
68.28

In [1]:
'''

3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.
Examples
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 3
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 4
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 2

'''
def tallest_skyscraper(lst):

'\n\n3. A city skyline can be represented as a 2-D list with 1s representing\nbuildings. In the example below, the height of the tallest building is 4 (second-\nmost right column).\n[[0, 0, 0, 0, 0, 0],\n[0, 0, 0, 0, 1, 0],\n[0, 0, 1, 0, 1, 0],\n[0, 1, 1, 1, 1, 0],\n\n[1, 1, 1, 1, 1, 1]]\nCreate a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the\nheight of the tallest skyscraper.'

In [132]:
'''
4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350
Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.
Examples
bonus(15) ➞ 0
bonus(37) ➞ 1625
bonus(50) ➞ 8200
'''
def bonus(n):
    rem = 0
    if n <=32:
        rem = 0 
    else:
        if n in range(33,41):
            rem = (n-32) * 325
        if n in range(41,49):
            rem =8* 325 + (n-40)* 550
        if  n >48:
            rem = (8*325) +(8*550) + (n-48)*600
    return rem
print(bonus(15))
print(bonus(37))
print(bonus(45))
print(bonus(50))

0
1625
5350
8200

In [153]:
'''
5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.
Examples
is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32
is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135
is_disarium(544) ➞ False
is_disarium(518) ➞ True
is_disarium(466) ➞ False
is_disarium(8) ➞ True
'''
import math
def is_disarium(n):
    s_n = str(n)
    rem = 0 
    for i in range(1,len(s_n)+1):
        rem += math.pow(int(s_n[i-1]),int(i))
    if rem == n:
        return True
    else:
        return False
print(is_disarium(75))
print(is_disarium(135))
print(is_disarium(544))
print(is_disarium(518))
print(is_disarium(466))
print(is_disarium(8))

False
True
False
True
False
True